/*Importacion estilos paginas*/
/*Page nosotros*/
main h2 {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem; }

.nosotros {
  background-color: var(--white);
  margin-top: 2rem;
  padding: 1rem; }
  .nosotros .subtQuien {
    text-align: center;
    padding: 1rem 0rem; }
  .nosotros .contenidoNosotros {
    line-height: 2rem;
    width: 100%;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    text-align: justify; }
  .nosotros .imgNosotros img {
    width: 100%;
    margin-bottom: 2rem; }

.horarios {
  background-color: var(--white);
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem; }
  .horarios ul {
    line-height: 2.5rem;
    margin: 1rem 0rem; }
    .horarios ul li {
      list-style-type: square; }

.ubicacion {
  background-color: var(--white);
  padding: 2rem;
  margin-bottom: 5rem;
  text-align: center; }
  .ubicacion .flex-ubicacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem; }
    .ubicacion .flex-ubicacion img {
      width: 80%;
      height: auto; }

.contacto {
  background-color: var(--white);
  padding: 2rem;
  justify-content: center;
  align-items: center; }
  .contacto .formulario {
    width: 90%;
    border: 0.1rem solid var(--black);
    margin: 2rem 0rem;
    padding: 3rem 0rem; }
    .contacto .formulario fieldset legend {
      margin-bottom: 2rem;
      font-size: 2rem; }
    .contacto .formulario fieldset .areaIngreso {
      width: 100%; }
    .contacto .formulario fieldset .estiloTextarea {
      width: 100%;
      height: auto; }
    .contacto .formulario fieldset .mail:focus {
      transform: scale(1.2);
      display: block;
      margin-top: 1rem;
      margin-left: 5rem;
      border: solid 0.2rem var(--red); }
    .contacto .formulario fieldset .transit-input:focus {
      transform: scale(1.2);
      display: block;
      margin-top: 1rem;
      margin-left: 5rem;
      border: solid 0.2rem var(--red); }
    .contacto .formulario fieldset .estiloTextarea:focus {
      border: solid 0.2rem var(--red); }
    .contacto .formulario fieldset .btn-form {
      width: 15rem;
      height: 3rem; }

@media only screen and (min-width: 1240px) {
  main h2 {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem; }
  .nosotros {
    margin-top: 4rem;
    padding: 2rem; }
    .nosotros .subtQuien {
      padding: 2rem 0rem; }
    .nosotros .contenidoNosotros {
      line-height: 3.5rem;
      width: 100%;
      padding: 1rem;
      margin-bottom: 3rem; }
    .nosotros .imgNosotros img {
      width: 100%;
      margin-bottom: 2rem; }
  .horarios ul {
    line-height: 2.5rem;
    animation-name: anim_horario;
    animation-iteration-count: 5;
    animation-timing-function: ease-in;
    animation-duration: 8s;
    animation-delay: 1s; }
    .horarios ul li {
      list-style-type: square; }
  @keyframes anim_horario {
    0% {
      transform: translate(0rem, 0rem); }
    50% {
      transform: translate(-10rem, 0rem); }
    100% {
      transform: translate(0rem, 0rem); } }
  .ubicacion {
    padding: 3rem; }
    .ubicacion .flex-ubicacion {
      margin: 3rem 0rem; }
      .ubicacion .flex-ubicacion img {
        width: 80%;
        height: auto; }
  .contacto {
    padding: 3rem; }
    .contacto h2 {
      margin-bottom: 2rem; }
    .contacto .formulario {
      width: 80%;
      margin: 2rem 0rem;
      padding: 3rem 2rem; }
      .contacto .formulario fieldset .areaIngreso {
        width: 60%; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ==========================================================================
*/
/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== 
*/
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/*------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------*/
/*CSS Proyecto*/
/*Modificaciones*/
.nav-link {
  color: var(--white); }

/*Generales*/
:root {
  /*Paleta colores*/
  --white: rgb(255, 255, 255);
  --black: rgb(13, 13, 17);
  --red: rgb(255, 0, 0);
  --bg-grdt1: rgb(245, 56, 56);
  --bg-grdt2: rgb(238, 236, 236);
  --bg-grdt3: rgb(109, 71, 71); }

body {
  font-size: 16px;
  /*define que 1rem = 10px*/
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 62.5%; }

.container-fluid--modified {
  padding: 0; }

.gradient-bkg {
  background-image: linear-gradient(to bottom, var(--bg-grdt1), var(--bg-grdt2) 50%, var(--bg-grdt3) 90%); }

.btn-style {
  border-radius: 1rem;
  background-color: var(--red);
  color: var(--white); }

/*Header*/
img {
  width: 12rem; }

.header-principal {
  background-color: var(--black); }

.name {
  color: var(--white); }

.name__principal {
  color: var(--red);
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  margin-top: 0; }
  .name__principal span {
    color: var(--white); }

.name__frase {
  font-size: 1.5rem; }

.search {
  font-size: 1.5rem; }

.search-box {
  height: 3.5rem;
  width: 38rem;
  border-radius: 1rem; }

.btn-search {
  height: 3rem;
  width: 6rem; }

.nav-cuenta nav ul li {
  font-size: 1.7rem; }

/*NavBar Header*/
.bg-navPrincipal {
  background-color: var(--red); }
  .bg-navPrincipal .dropdown-item {
    font-size: 1.3rem; }
  .bg-navPrincipal .dropdown-item:hover {
    background-color: var(--bg-grdt1); }

.bg-menuHamburguesa {
  background-color: var(--red); }

.menu_hamburguesa a {
  font-weight: 500;
  font-size: 2.5rem; }

.menu_hamburguesa span img {
  height: 6rem;
  width: 6rem;
  margin-right: 1rem; }

/*Breadcrumb*/
.paginas-bread {
  background-color: var(--white);
  width: 100%;
  height: 2rem;
  padding-left: 2rem; }

/*Main*/
.contenedor-main {
  margin: 2rem 8rem 6rem 8rem; }

.fondo-carousel {
  background-image: url(../img/fondoMarcas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 5rem 0rem;
  padding: 3rem; }
  .fondo-carousel p {
    color: var(--white);
    margin: 2rem;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 400; }

.centrar__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 400px; }

.carousel-inner {
  width: 80%; }

.carousel-item img {
  height: 400px; }

/*Publicaciones Card*/
.proDestacados {
  margin: 5rem 0rem;
  padding: 0rem;
  border-bottom: 0.3rem solid var(--black); }

.card {
  border: 0.3rem var(--black) solid;
  padding: 1rem;
  text-align: center;
  line-height: 1.5;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 10rem; }
  .card a img {
    width: 17rem;
    height: 17rem;
    padding: 1rem; }

.style-precio {
  display: inline-block;
  width: 7rem;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: 400;
  background-color: var(--red); }

.style-subtitulo {
  display: block;
  width: 40rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  background-color: var(--black);
  color: var(--red); }
  .style-subtitulo span {
    font-weight: 600; }

.transition-img {
  transition: 0.3s; }

.transition-img:hover {
  transform: scale(1.05);
  background-color: var(--white);
  border: solid 5px var(--red);
  margin-top: 0.5rem; }

/*Footer*/
footer {
  background-color: var(--black);
  margin-top: 4rem;
  height: auto; }
  footer .column-items {
    margin: 3rem 0rem; }
    footer .column-items p {
      color: var(--white);
      font-size: 2rem;
      margin-bottom: 1rem; }
    footer .column-items a {
      line-height: 2;
      text-decoration: none; }
      footer .column-items a P {
        display: inline;
        position: relative;
        bottom: 0.2rem;
        left: 0.5rem;
        font-size: 1.5rem;
        font-weight: 300; }
  footer .log-style {
    width: 2.5rem;
    border-radius: 3rem; }
  footer .copy {
    border-top: 1px solid var(--white);
    margin-top: 3rem;
    padding: 1rem;
    color: var(--red);
    text-align: center; }

/*Media Query*/
@media only screen and (max-width: 480px) {
  .img-head {
    display: none; }
  .search {
    display: none; }
  .nav-cuenta {
    text-align: center; }
  .menu_hamburguesa {
    display: block; }
  .bg-navPrincipal {
    width: 60%;
    position: absolute;
    z-index: 1; }
    .bg-navPrincipal nav ul li {
      padding: 0.8rem;
      border-bottom: 0.1rem solid var(--white);
      border-top: 0.1rem solid var(--white); }
  .fraseCarrousel p {
    font-size: 2rem; }
  .carousel {
    width: 90%;
    height: 20rem; }
  .carousel-item img {
    width: 90%;
    height: 20rem; }
  .style-subtitulo {
    display: block;
    width: auto;
    text-align: center; }
  .card {
    margin-bottom: 2rem; }
  footer .column-items {
    margin-left: 2rem;
    margin-bottom: 1rem; }
    footer .column-items p {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    footer .column-items a {
      line-height: 1;
      font-size: 1.2rem; }
      footer .column-items a P {
        font-size: 1.2rem;
        font-weight: 200; } }

@media only screen and (min-width: 480px) and (max-width: 991px) {
  .img-head {
    text-align: right; }
  .name {
    text-align: left !important; }
  .search {
    width: 100%;
    text-align: center;
    margin: 1.5rem; }
  .nav-cuenta {
    text-align: center;
    margin: 0.5rem; }
  .menu_hamburguesa {
    display: block; }
  .bg-navPrincipal {
    width: 40%;
    position: absolute;
    z-index: 1; }
    .bg-navPrincipal nav ul li {
      padding: 0.8rem;
      border-bottom: 0.1rem solid var(--white);
      border-top: 0.1rem solid var(--white); }
  .fraseCarrousel p {
    font-size: 2rem; }
  .carousel {
    width: 90%;
    height: 25rem; }
  .carousel-item img {
    width: 90%;
    height: 25rem; }
  .proDestacados {
    display: flex;
    background-color: var(--black);
    align-items: center;
    justify-content: center; }
  .card {
    margin-bottom: 2rem; }
  footer .column-items {
    margin-left: 2rem;
    margin-bottom: 1rem; }
    footer .column-items p {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    footer .column-items a {
      line-height: 1;
      font-size: 1.2rem; }
      footer .column-items a P {
        font-size: 1.2rem;
        font-weight: 200; } }

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .menu_hamburguesa {
    display: none; }
  .img-head {
    text-align: right;
    padding-right: 6rem; }
  .name {
    text-align: left !important; }
  .search {
    text-align: center; }
  .nav-cuenta {
    text-align: center;
    margin: 0.5rem; } }

@media only screen and (min-width: 1025px) {
  .menu_hamburguesa {
    display: none; } }
